[submodule "AnnaAgent"]
	path = AnnaAgent
	url = https://github.com/TylorChan/AnnaAgent.git
[submodule "LD-Agent"]
	path = LD-Agent
	url = https://github.com/TylorChan/LD-Agent.git
[submodule "LongMemEval"]
	path = LongMemEval
	url = https://github.com/TylorChan/LongMemEval.git
[submodule "MemoryOS"]
	path = MemoryOS
	url = https://github.com/TylorChan/MemoryOS.git
[submodule "SHARE"]
	path = SHARE
	url = https://github.com/TylorChan/SHARE.git
